{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input class="form-control" name="symbol" placeholder="Enter share's symbol" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" min="1" name="shares" placeholder="Enter share's amount" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}